.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo {
  width: 200px;
  object-fit: contain;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  font-size: 26px;
}

.nav-links a:hover {
  color: #ffde59;
  border-bottom: #ffde59 1px solid;
}

#contact a{
 background-color: #ffde59;
 padding: 5px 25px;
 border-radius: 20px;
 color: #000;
}

#contact a:hover{
    background-color: #000;
    color: #fff;
}